body{
    background-color: lightblue;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background-color: whitesmoke;
	box-shadow: rgba(176, 167, 167, 0.3) 20px 20px 20px;
	
}
.form-control
{
	height: 45px;
    width: 100%;
}
.container2{
	display: flex;
    flex-wrap: wrap;
}
.container2 .form-control2{
	width:calc(100%/4 - 20px);
	margin:10px;   
}

.btn{
    width: 10%;
	font-size: smaller;
    height: 1cm;
	color:black;
	background-color: mediumblue;  
}
.btn2{
    width:10%;
	font-size: smaller;
    height: 1cm;
	color:black;
	background-color:mediumblue;

}
.button{
	background-color:lightblue;
	text-align: center;
	font-size: smaller;
	font-family:serif;
	

}
.button2{
	background-color: mediumslateblue;
	text-align: center;
	font-family: serif;
	
}
.form-control1{
	background-color: lightskyblue;
	text-align: center;
	font-size: smaller;
}
.form2{
	background-color: lightskyblue;
	text-align: center;
	font-size:x-small;
	margin-right: 10px;
	

}
.form3{
	  display:flex;


}
.form4{
	display:flex;
}
